.fondo-main {
      display: flex;
      background-color:$fondo-main;
}
.flex-container { 
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
.img {
        width: 80%;
        height: 110px;
           }
.box0 {
        width: 200px;
        border: 2px solid rgb(234, 76, 185);
        margin: 10px;
       }
.box1 {
        width: 700px;
        height: 220px;
        margin: 10px;
        border: 5px solid rgb(205, 54, 205);
        border-radius: 2% 2% 2% 2% ;
        background-color: $fondo-main(237, 72, 188);
        align-items: center;
        
      
.box1 p, h1, h3, h4 {
    text-align: center;
    margin: 5px, 3px;
    }
}
    
  

 