.header {
    background-color:$color-principal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-end;
    
    ul li { 
    background-color: $color-principal;
    display: inline-block;
    font-style: oblique;
    list-style-type: square;
    margin: 10px;
    :hover { background-color: pink;}
    }
}

