/* archivo sass*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  width: 150px;
  height: 20px;
  background-color: rgb(236, 52, 221);
  text-align: center;
  color: rgb(240, 129, 240);
  border-radius: 5px;
  border: 1px;
  font-family: "Times New Roman", Times, serif;
}
.boton :hover {
  background-color: pink;
}

.boton-cancelar {
  width: 150px;
  height: 20px;
  background-color: rgb(233, 233, 108);
  text-align: center;
  color: rgb(251, 132, 132);
  border-radius: 5px;
  border: 1px;
  font-family: "Times New Roman", Times, serif;
}
.boton-cancelar :hover {
  background-color: pink;
}

.boton-flores {
  width: 150px;
  height: 20px;
  background-color: rgb(143, 143, 247);
  text-align: center;
  color: rgb(240, 240, 135);
  border-radius: 5px;
  border: 1px;
  font-family: "Times New Roman", Times, serif;
}
.boton-flores :hover {
  background-color: pink;
}

.header {
  background-color: #ffd1ed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.header ul li {
  background-color: #ffd1ed;
  display: inline-block;
  font-style: oblique;
  list-style-type: square;
  margin: 10px;
}
.header ul li :hover {
  background-color: pink;
}

footer {
  background-color: #ffd1ed;
  text-align: center;
  flex-flow: column-reverse;
}

.botones {
  background-color: rgb(241, 133, 243);
}

.fondo-main {
  display: flex;
  background-color: rgb(182, 104, 182);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
   flex-direction: column;*/
}

/*.img {
        width: 80%;
        height: 50%;
           }*/
.box0 {
  width: 30%;
  border: 2px solid rgb(234, 76, 185);
  margin: 10px;
}

.box1 {
  width: 60%;
  height: 50%;
  margin: 10px;
  border: 5px solid rgb(205, 54, 205);
  border-radius: 2% 2% 2% 2%;
  background-color: rgb(182, 104, 182) 237, 72, 188;
  align-items: center;
}
.box1 .box1 p, .box1 h1, .box1 h3, .box1 h4 {
  text-align: center;
  margin: 5px, 3px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1% 2%;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin: 2% 4%;
}

h2 {
  font-family: "Dancing Script";
  text-align: center;
  margin: 5px 0;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(182, 104, 182);
  text-align: center;
}

.servicios {
  width: 500%;
  border: 5px solid purple;
  text-align: center;
  margin: 5px 0px 30px 30px;
}

.fondo_productos {
  background-color: blueviolet;
}

.grid-container1 {
  margin: 15px;
  margin: 15px;
  background-color: rgb(3, 1, 5);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas: "foto-6 foto-6 foto-2 foto-3 " "foto-6 foto-6 foto-2 foto-3" "foto-4 foto-8 foto-1 foto-1" "foto-7 foto-8 foto-5 foto-9";
  grid-gap: 10px;
}

.grid-container1 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-1 {
  grid-area: foto-1;
}

.grid-item-2 {
  grid-area: foto-2;
}

.grid-item-3 {
  grid-area: foto-3;
}

.grid-item-4 {
  grid-area: foto-4;
}

.grid-item-5 {
  grid-area: foto-5;
}

.grid-item-6 {
  grid-area: foto-6;
}

.grid-item-7 {
  grid-area: foto-7;
}

.grid-item-8 {
  grid-area: foto-8;
}

.grid-item-9 {
  grid-area: foto-9;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .grid-container1 {
    background-color: blueviolet;
    grid-template-areas: "foto-3 foto-6 foto-6 foto-2 " "foto-3 foto-6 foto-6 foto-2" "foto-4 foto-8 foto-1 foto-1" "foto-7 foto-8 foto-5 foto-9";
  }
}
@media (min-width: 355px) and (max-width: 667px) {
  .grid-container1 {
    grid-template-columns: 1fr;
    grid-template-areas: "foto-1" "foto-2" "foto-3" "foto-4" "foto-5" "foto-6" "foto-7" "foto-8" "foto-9";
  }
}
.video1 {
  display: flex;
  margin: 15px 20PX;
  background-color: rgb(182, 104, 182);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-flores {
  display: flex;
  margin: 5px, 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 30%;
  border: 1px solid rgb(255, 0, 255);
  border-radius: 0 0 3% 3%;
  margin: 5px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.img {
  width: 100%;
  height: 42%;
}

.flores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card p, h3, h4 {
  text-align: center;
  margin: 5px 3px;
}

.img1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.img2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40%;
  height: 40%;
  margin: 3% 5%;
}

.animacion {
  animation-name: animacion_1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes animacion_1 {
  0% {
    background-image: radial-gradient(ellipse 100px 50px, pink, rgb(153, 26, 170));
  }
  50% {
    background-image: radial-gradient(ellipse 100px 50px, pink, rgb(153, 26, 170));
  }
  20% {
    background-image: radial-gradient(ellipse 100px 50px, rgb(153, 26, 170), pink);
  }
  100% {
    background-image: radial-gradient(ellipse 100px 50px, pink, rgb(153, 26, 170));
  }
}

/*# sourceMappingURL=styles.css.map */
